* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --main-blue: #4E51FF;
    --blue-darker: #0E38BA;
    --blue-text: #0B1F33;
    --main-gray: #E4ECFD;
}

input, input::placeholder  {
    color: var(--blue-text);
}

input {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: none;
    outline: none;
}

.switch-block {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.switch-block__switch {
    position: relative;
    background-color: transparent;
    margin: 0 20px;
    width: 38px;
    height: 18px;
    border: 1px solid var(--blue-darker);
    transition: .3s;
    border-radius: 12px;
}

.switch__mark {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 1px;
    left: 2px;    
    border-radius: 14px;
    background-color: var(--main-blue);
}

.switch__mark-active {
    transform: translateX(18px);
}

button {
    border: none;
}

p {
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px 0;
}

.logo {
    color: var(--main-blue);
    font-size: 40px;
}

section {
    min-height: 100vh;
    background: linear-gradient(90deg,rgba(78, 81, 255, 1) 0%, rgba(118, 94, 255, 1) 100%);    
}

.chat { 
    margin: 0 auto;
    padding: 20px 0;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chat__empty {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.chat__messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messages__request, .messages__response {
    padding: 10px;
    color: var(--blue-text);
}

.messages__request {
    align-self: flex-end;
    background-color: var(--main-gray);
    border-radius: 15px 15px 5px 15px;
}

.messages__response {
    align-self: flex-start;
    background-color: #ffffff;
    border-radius: 15px 15px 15px 5px;
}

.response__btn {
    align-self: flex-start;
    background-color: var(--blue-darker);
    color: #ffffff;
    border-radius: 5px 15px 15px 15px;
    padding: 10px;
    cursor: pointer;
}

.chat__input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
}

.chat__input:focus-within {
    outline: 2px solid var(--blue-darker);
}

.input__btn {
    background-color: #ffffff;
    cursor: pointer;
}



